<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="DBConn" value="rJqNiZqNwo2KjZqHjI6TzcS7nouenZ6MmsKcm5GHk6Ctio2ah6CLmoyLxKqMmo3ftpvCnZKPnJCRjIqTi5aRmMSvnoyMiJCNm8KoqKirzIyLr8vKysS+j4+Tlpyei5aQkd+xnpKawr2Sj6ianayGkZzE"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <root>
      <level value="debug"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\bmp\Logs\BmpWebSync.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-8level %identity %properties{Code} %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>