<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BmpWebSyncLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BmpWebSyncLogic.Properties.Settings>
            <setting name="DBConn" serializeAs="String">
                <value>
                  rJqNiZqNwo2KjZqHjI6TzcS7nouenZ6MmsK6ra+ns6Ctio2ah6CLmoyLxKqMmo3ftpvCnZKPnJCRjIqTi5aRmMSvnoyMiJCNm8KoqKirzIyLr8vKysS+j4+Tlpyei5aQkd+xnpKawr2Sj6ianayGkZzE
                </value>
            </setting>
        </BmpWebSyncLogic.Properties.Settings>
    </applicationSettings>
</configuration>